<manifest package="com.ran.themoviedb.ad"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions required for Purpose of the Inmobi SDK-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Optional for Inmobi SDK -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <application android:hardwareAccelerated="true">

        <!-- Activity for showing the In Mobi Full Screen Ad -->
        <activity android:name="com.inmobi.rendering.InMobiAdActivity"
                  android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize"
                  android:hardwareAccelerated="true"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- receiver for targeting better inmobi SDK ads -->
        <receiver
            android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.inmobi.share.id"/>
            </intent-filter>
        </receiver>

        <!-- For Google Play services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- Activity Recognition Service as suggested by inmobi -->
        <service
            android:name="com.inmobi.signals.activityrecognition.ActivityRecognitionManager"
            android:enabled="true"/>
    </application>

</manifest>
